@font-face {
  font-family: "Montserrat-Regular";
  src: url("/Montserrat-Regular.ttf")
}

body {
    box-sizing: border-box;
    font-family: "Montserrat-Regular", sans-serif;
    margin: 0;
}

h1 {
  font-size: 3em;
  padding-left: 40px;
}

.icon {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.navbar {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.navbar h1 {
  flex-grow: 4;
}

.Map {
  position: fixed;
  height: 100%;
  width: 100%;
}

.circle-marker {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid #FFF;
  background: #1275E8;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 100%;
}
